/*--- ページ基本デザイン ---*/
#items_sec {
    padding: 2% 0;
    width: 100%;
    min-width: 1300px;
    height: 800px;
    background-color: cornsilk;
}
#items_main {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 50px 10px 50px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
	0 10.1px 11.4px rgba(0, 0, 0, 0.086);
}
#items_title {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    border-bottom: 5px dotted black;
}
#items_title p {
    margin: 0 auto;
}
#items_contents {
    width: 1000px;
    padding: 25px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.items_box {
    width: 333px;
    padding: 20px;
}
.items_box img {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 25%;
    background-color: lightblue;
    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
	0 10.1px 11.4px rgba(0, 0, 0, 0.086);
}
.items_box img:hover { 
    transition: all 0.5s ease 0s;
    border-radius: 50%;
}
.items_box p {
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
}
