/*--- ページ基本デザイン ---*/
a:link { color: cadetblue; }
a:visited { color: cadetblue; }
a:hover { color: lightblue; }
a:active { color: lightblue; }
body {
	-webkit-animation: fadeIn 1.5s ease 0s 1 normal;
	animation: fadeIn 1.5s ease 0s 1 normal;
}
@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
	}
	@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
header {
	/* display: none; */
	width: 100%;
	height: 100px;
	min-width: 1000px;
	/* border-top: 2px double black;
	border-bottom: 2px double black; */
	box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
	0 10.1px 11.4px rgba(0, 0, 0, 0.086),
	0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
	background-color: rgba(252,247,220,0.8);
	position: fixed;
	z-index: 10000;
}
#header_flex {
	display: flex;
	height: 100px;
	justify-content: space-between;
	position: relative;
}
#header_main {
	display: flex;
	width: 30px;
	align-items: center;
	padding-left: 20px;
}
.cat {
	display: flex;
	height: 90px;
	margin-left: 20px;
	align-items: flex-end;
	position:absolute;
}
.cat img {
	width: 85px;
	opacity: 0.3;
	mix-blend-mode: multiply;
}
#title {
	display: flex;
	font-size: 30px;
	text-shadow: 0.5px 0.5px;
	width: 600px;
}
#title p {
	font-weight: bold;
}
nav {
	display: flex;
	align-items: center;
}
nav ul {
	display: flex;
	justify-content: flex-start;
	min-width: 600px;
	height: 100%;
}
nav ul li {
	margin-right: 80px;
	width: 120px;
}
#link {
	display: flex;
	margin-top: 25px;
}
nav ul li a {
	position: relative;
}
#link p {
	display: flex;
	align-items: center;
	font-size: 25px;
	text-shadow: 0.5px 0.5px;
	font-weight: bold;
}
#link img {
	background-color: white;
	border-radius: 5px;
	width: 30px;
	margin: 10px;
	mix-blend-mode: multiply;
}
.hand {
	opacity: 0;
	height: 90px;
	margin-left: 20px;
	position:absolute;
}
.hand img {
	margin-top: 5px;
	width: 85px;
	opacity: 0.3;
}