/*--- ページ基本デザイン ---*/
#prof_sec {
    padding: 2%;
    width: 100%;
    min-width: 1300px;
    height: 800px;
    background-color: cornsilk;
}
#prof_main {
    width: 1200px;
    margin: 0 auto;
    padding: 50px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
	0 10.1px 11.4px rgba(0, 0, 0, 0.086);
}    
#prof_title {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    border-bottom: 5px dotted black;
}
#prof_title p {
    margin: 0 auto;
}
#prof_contents {
    width: 1000px;
    min-width: 800px;
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#prof_img {
    width: 400px;
}
#prof_img img {
    margin: 0 auto;
}
.prof_table{
    width: 500px;
    table-layout: fixed;
    margin: 0 auto;
}
#prof_table_pad {
    margin-top: 50px;
}
.prof_table tr {
    border-bottom: 1px solid black;
}
.prof_table tr th {
    font-size: 1.5rem;
}