/*--- ページ基本デザイン ---*/
body {
	background-color: white;
	font-family: 'Flower', cursive;
}
main {
    padding-top: 100px;
	box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086);
}
footer {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}